@charset "UTF-8";
/* CSS Document */



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
	 
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


body{
	margin:0 0 40px 0;
	padding: 0 20px 100px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color:#333;
	background:#F1F1F1;
}

a{
	text-decoration:none;
}

a:visited{
	color:#333;
}

ul,li{
	list-style:none;
	padding:0;
	margin:0;
}


h1,h2,h3,h4,h5,h6{
font-family: 'Oswald', sans-serif;
margin:0;
padding:0;
text-transform: uppercase;
}

h2{
	margin:0;
	padding:0;
	}

h3{
margin:40px 0 10px 0;
font-weight:400;
}

p{
	margin:0 0 10px 10px;
	color:#7c7c7c;
	font-family: 'Open Sans', sans-serif;
}


.stripe{
	padding:25px;
	background:#fff;
	margin:50px 0 50px;
	}

.stripe .container{
	margin:10px;
	}
	
.colorPalette span{
	display:block;
	width:100%;
	height:40px;
	margin:auto;
}

#storywriterStyleGuide .stripe.header ul li{
	text-align:center;
	display:inline-block;

}
#storywriterStyleGuide .stripe.header ul li.arrow{
background-image:url(images/icn_atomArrow.svg);
background-repeat:no-repeat;
background-size:30px;
background-position:center center;
height: 70px;
width: 38px;

}


#storywriterStyleGuide .stripe.header img{
	height:50px;
	display:block;
	margin:auto;
	
}


.colorPalette ul{
    min-width: 175px;
    width: 14%;
	display:inline-block;
	vertical-align:top;
	margin:0 0 30px 20px;
}


.typography ul{
	margin:0 0 30px 20px;
}



.colorPalette ul li{
    font-size: 16px;
    line-height: 29px;
}


.iconography ul{
margin:0 0 0 20px;
padding:20px;
}


.font1{
	background:rgb(233,233,233);
}

.font2{
	background:rgb(159,159,159);
}

.divider{
	background:rgb(87,87,87);
}

.background{
	background:rgb(51,51,51);
}

.dropShadow{
	background:rgb(0,0,0);
}

.errorMessaging{
	background:rgb(214,62,62);
}

.typography ul li span.primaryFont{
	font-family:lato, sans-serif;
	}
.typography ul li span.fallback{
	font-family: Arial, sans-serif;
}

.regular{
	font-weight:300;
}

.typography ul li span.bold{
	font-weight:400;
}

.typography ul li a{
	font-size:13px;
	margin-left:10px;
}

	
.iconography ul.dark {
    background: rgb(51, 51, 51) none repeat scroll 0 0;
}




.iconography img{
width:20px;
padding:20px;
display:inline-block;
}


 
img.icnRedo{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);                 
	filter: FlipH;
	-ms-filter: "FlipH";
	}







.dropdown, .dialogueBox{
	background:rgb(51,51,51);
	border: 1px solid rgb(229,229,229);
	display:inline-block;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.55);
}


.dropdown{
	padding:0;
	margin-left:20px;
	position:relative;
}

.dropdown ul li a{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight:300;
	color:rgb(229,229,229);
	text-decoration:none;
	letter-spacing:1px;
	padding: 0 20px 0 20px;
	width:100%;
}

.dropdown ul li{
	padding:0;
	margin:0;
	line-height:30px;
}

.dropdown ul li:hover{
	background:rgb(87,87,87);
	transition: background-color 0.2s ease;
}

.dropdown ul{
	margin:10px 0;
}


.dialogueBoxContainer{
	background-image:url(images/);
	}


.dialogueBox{
	color:rgb(229,229,229);
	padding:20px;
	font-family: 'Lato', sans-serif;
	width:560px;
	margin: 30px 30px 30px 0;
	float:left;
}



.dialogueBox p{
	color:rgb(229,229,229);
	font-size:16px;
	font-weight:300;
	margin:0;
	line-height:25px;
	padding: 0 10px;
}

.dialogueBox h4{
	font-size:18px;
	font-weight:400;
	margin-top:0;
	font-family: lato;
	text-transform:none;
	margin-bottom:15px;
}

h4 .icon{
	height:20px;
	width:25px;
	float:left;
	margin-right:10px;
}

.icon.error{
	background:url(images/icn_alertRed.svg) center no-repeat;
}

li a.selected{
	background:url(images/icn_checkmark.svg);
	background-size:9px;
	background-repeat: no-repeat;
	background-position: 6px 4px;
	padding-left: 20px;
}

.arrowUp, .innerArrowUp{
	border-color: #e5e5e5 transparent;
    border-style: solid;
    border-width: 0 9px 9px;
    bottom: 100%;
    height: 0;
    position: absolute;
    right: -9px;
	top:1px;
    width: 0;
}

.innerArrowUp{
	border-color: #333333 transparent;
}

.arrowUp{
	position:absolute;
	top:-9px;
	left:64px;	
	
}

.seperator{
	width:1px;
	height:40px;
	background:rgb(87,87,87);
	margin:0 10px;
	padding:0;
}

.icnLobby{
	margin:4px 0 0 9px;
}

.icnSettings, .icnRedo, .icnUndo{
	margin-top:3px;
}

.dialogueBox a.button{
	font-size:16px;
	font-weight:400;
	padding:10px 20px;
	margin-top:30px;
	display:inline-block;
	margin-left:10px;
}

.dialogueBox a.button.primary{
	color:#333;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	background:rgb(229,229,229);
}

.dialogueBox a.primary:hover{
	background:rgb(255,255,255);
	transition: background 0.2s ease-in;
}


.button.disabled{
	cursor:default;
	opacity:.33;
	color:#333;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.55);
	background:rgb(229,229,229);	
}


.dialogueBox a.secondary{
	color:#e5e5e5;
	text-align:right;
	margin-left:30px;
}

.dialogueBox a.secondary:hover{
	background:rgb(42,42,42);
	transition: background 0.2s ease-in;
	}

.dialogueBox a.link{
	margin-top:30px;
	text-decoration:underline;
	color:rgb(229,229,229);
	display:block;
	margin:30px 0 10px 10px;
}

form{
	margin:10px;
}

form ul,
form ul li{
	margin:auto;
	padding:0px;
	width:100%;
}

form .title{
	margin:30px 0 10px 0;
	font-size:16px;
	font-weight:400;
}

.dialogueBox  a.link.radio{
	display:inline;
	cursor:pointer;
}



input[type=text], textarea{
	font-size:16px;
	padding:5px 10px;
	width:518px;
	border:1px solid rgb(229,229,229);
	background:#333;
	color:#e5e5e5;
	font-family:"Lato",sans-serif;
	font-weight:300;
}


input[type=radio]{
	padding:0;
}




/* radio button and checkbox styleing */


li.checkbox{
	margin-top:10px;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 18px;
}


input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  margin           : 0 10px 0 0;
  border           : 1px solid rgb(233,233,233);
  border-radius    : 15px;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old) + label > span{
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  margin           : 0 10px 0 0;
  border           : 1px solid rgb(233,233,233);
  line-height      : 1px;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :none;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : url(images/icn_checkmark.svg);
  display     : block;
  width       : 11px;
  color       : rgb(233,233,233);
  font-size   : 20px;
  margin      : 1px 0 0 2px;  
  line-height : ;
  text-align  : center;
  text-shadow : ;
  font-weight : 300;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 11px;
  height           : 11px;
  margin           : 2px 0 0 2px;
  border           : ;
  border-radius    : 11px;
  background       : rgb(233,233,233);
}

#option{
	margin-top:20px;
	cursor:pointer;
}


.assetBorder{
	background:rgb(197,197,197);
}


.lobbyBackground{
	background:rgb(241,241,241);
}


.storyteller{
	background:rgb(252,154,66);
}

.storybuilder{
	background:rgb(5,160,221);
}

.storywriter{
	background:rgb(0,190,136);
	
}

.storywriterHover{
	background:rgb(0,221,153);
	
}


.storywriterSecondary{
	background:rgb(5,160,221);
}

.storywriterSecondaryHover{
	background:rgb(8,197,255);
}

.storywriterNotes{
	background:rgb(255,246,131);
}

.hover{
	background:rgb(87,87,87);
}

.iconography ul li{
	cursor:pointer;
    float: left;
    height: 20px;
    width: 20px;
	display:inline-block;
	background-position:center;
	background-repeat:no-repeat;
	padding:10px;
	background-size:20px;
	margin:5px;
}

.iconography ul li:hover{
	background-color:rgb(87,87,87);
}

.iconography ul.white li:hover{
	background-color:rgb(229,229,229);
}

.iconography ul li.eyeball{
background-size:17px;
}

ul li.logo{
	background-image:url(images/logo_storywriter.svg);
	width:150px;
	background-size:150px;
	}
ul li.checkmark{
	background-image:url(images/icn_checkmark.svg);
	background-size:12px;
	}
li.sync{
	background-image:url(images/icn_sync.svg);
	}
li.undo{
	background-image:url(images/icn_undoRedo.svg);
	}
li.redo{
	background-image:url(images/icn_undoRedo.svg);
	transform: rotateY(180deg);
	}
ul li.saveDraft{
	background-image:url(images/icn_saveDraft.svg);
	background-size:15px;
	}
li.retry{
	background-image:url(images/icn_retry.svg);
	}
ul li.resume{
	background-image:url(images/icn_resume.svg);
	background-size:15px;
	}
ul li.rename{
	background-image:url(images/icn_rename.svg);
	background-size:16px;
	}
ul li.remove{
	background-image:url(images/icn_removeFromDevice.svg);
	background-size:15px;
	}
li.eyeball{
	background-image:url(images/icn_eyeball.svg);
	}
ul li.editTitle{
	background-image:url(images/icn_editTitle.svg);
	background-size:22px;
	}
ul li.dropdownIcon{
	background-image:url(images/icn_dropdown.svg);
	background-size:13px;
	}
ul li.download{
	background-image:url(images/icn_download.svg);
	background-size:17px;
	}
ul li.delete{
	background-image:url(images/icn_delete.svg);
	background-size:11px;
	}
ul li.copy{
	background-image:url(images/icn_copy.svg);
	background-size:15px;
	}
ul li.close{
	background-image:url(images/icn_close.svg);
	background-size:13px;
	}
li.alertRed{
	background-image:url(images/icn_alertRed.svg);
	}
li.alertBlue{
	background-image:url(images/icn_alertBlue.svg);
	}	
	
li.lobby{
	background-image:url(images/icn_lobby.svg);
	}
ul li.downloadCloud{
	background-image:url(images/icn_downloadCloud.svg);
	background-size:31px;
	}
li.settings{
	background-image:url(images/icn_settings.svg);
	}
li.icnDropdown{
	background-image:url(images/icn_synced.svg);
	}
ul li.storywriterIcon{
	background-image:url(images/icn_editableDraft.svg);
	background-size:27px;
	}
ul li.pickerArrow{
	background-image:url(images/icn_pickerArrow.svg);
	background-size:12px;
	}
li.online{
	background-image:url(images/icn_online.svg);
	}
li.offline{
	background-image:url(images/icn_offline.svg);
	}
ul li.new{
	background-image:url(images/icn_new.svg);
	background-size:23px;
	}
ul li.import{
	background-image:url(images/icn_import.svg);
	background-size:23px;
	}
li.chevronDefault{
	background-image:url(images/icn_chevron_default.svg);
	}
li.cheveron{
	background-image:url(images/icn_chevron.svg);
	}
ul li.assetMenu{
	background-image:url(images/icn_assetMenu.svg);
	background-size:4px;
	}
ul li.assetMenuHover{
	background-image:url(images/icn_assetMenuHover.svg);
	background-size:4px;
	}
ul li.add{
	background-image:url(images/icn_add_green.svg);
	background-size:23px;
}

ul li.scriptGroup{
	background-image:url(images/icn_scriptGroup.svg);
	background-size:27px;
}

ul li.share{
	background-image:url(images/icn_shareMenu.svg);
	background-size:25px;
}
ul li.shareHover{
	background-image:url(images/icn_shareHover.svg);
	background-size:25px;
}


ul li.user{
	background-image:url(images/icn_userDefault.svg);
	background-size:25px;
}

ul li.loader{
	background-image:url(images/icn_loaderWhite.svg);
	background-size:30px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	transform: rotateX(180deg);
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX STORYWRITER STYLEGUIDE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */












#storywriterStyleGuide .pageContainer{
	font-family:lato;
	background:rgb(241,241,241);
	width:100%;
	padding-bottom:30px;
}

#storywriterStyleGuide img.logo_storywriter{
	padding:8px 20px;
	float:left;
}

#storywriterStyleGuide .pageContainer ul.header{
	background:rgb(51,51,51);
	width:100%;
	height:40px;
}


#storywriterStyleGuide .pageContainer ul li.userName{
	float:right;
    background: url(images/icn_dropdown.svg) no-repeat;
	background-size:7px 5px;
	background-position: 67px 19px;	
}

#storywriterStyleGuide .pageContainer ul li.userName a{
	font-size:14px;
    color: rgb(233, 233, 233);
    display: block;
    padding: 10px 20px;
	margin-right:10px;
}

	
#storywriterStyleGuide .pageContainer ul.subHeader{
		width:100%;
		height:41px;
		background:rgb(255,255,255);
		border-bottom:1px solid rgb(159,159,159);
		display:block;
		color:gb(51,51,51);
}
		

#storywriterStyleGuide .pageContainer ul.subHeader li.newScript,
#storywriterStyleGuide .pageContainer ul.subHeader li.upload{
    display: inline-block;
    padding: 3px 20px;
}

	
#storywriterStyleGuide .pageContainer ul.subHeader li a{
    font-size: 14px;
    font-weight: 400;
	vertical-align:middle;
	vertical-align: -moz-middle-with-baseline;
	background-repeat:no-repeat;
	display:block;
	height:26px;
    
}

#storywriterStyleGuide .pageContainer ul.subHeader li.newScript a{
    color: rgb(0,190,136);	
	background-image: url(images/icn_storywriter.svg);
	background-size:21px;
	padding: 8px 0 0 26px;
	background-position: 0 4px;
}
#storywriterStyleGuide .pageContainer ul.subHeader li.upload a{
	background-image: url(images/icn_upload.svg);
	background-position: 0 3px;
	background-size:20px;
	padding: 8px 0 0 24px;
}



#storywriterStyleGuide .pageContainer ul.subHeader li:hover{
background:#f1f1f1;
transition: background .2s ease;
}

		
#storywriterStyleGuide .pageContainer ul.assetGroup{
	max-width:960px;
	margin:50px auto;
}

#storywriterStyleGuide .pageContainer ul.assetGroup li{
	background:#ffffff;
	margin-bottom:10px;
	padding:10px;
	border:1px solid rgb(197,197,197);
}

#storywriterStyleGuide .pageContainer ul.assetGroup li:hover{
	transition: border 0.2s ease-in;
	background:rgb(230,255,247);
}



#storywriterStyleGuide .pageContainer ul.assetGroup li a.assetMenu{
	width:15px;
	height:22px;
	background-image:url(images/icn_assetMenu.svg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:4px auto;
	float:right;
}




















